<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="card m-3">
      <div class="card-header">Request Parameter</div>
      <div class="card-body">
        <button onclick="ajax1()" class="btn btn-info btn-sm">RequestParam 연습하기</button>
        <script>
          async function ajax1() {
            const response = await fetch("/receive-data-rest/request-parameter1", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded"
              },
              body: "mid=red&mname=홍길동&mpwd=12345"
            });
            const json = response.json();
            console.log(json);
          }
        </script>

        <hr />

        <button onclick="ajax2()" class="btn btn-info btn-sm">ModelAttribute 연습하기</button>
        <script>
          async function ajax2(){
            const response = await fetch("/receive-data-rest/request-parameter2", {
              method: "POST",
              body: new URLSearchParams({
                mid: "red",
                mname: "홍길동",
                mpwd: "12345"
              })
            });
            const json = await response.json();
            console.log(json);
          }
        </script>

        <hr />

        <button onclick="ajax3()" class="btn btn-info btn-sm">RequestBody 연습하기</button>
        <script>
          async function ajax3() {
            const member = {
              mid: "red",
              mname: "홍길동",
              mpwd: "12345"
            };
            const response = await fetch("/receive-data-rest/json", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(member)
            });
            const json = response.json();
            console.log(json);
          }
        </script>
      </div>
    </div>
  </body>
</html>
