<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="card m-3">
      <div class="card-header">Validation</div>
      <div class="card-body">
        <button onclick="ajax1()" class="btn btn-info btn-sm">Body JSON</button>
        <script>
          async function ajax1() {
            try {

              const member = {
                mid: "white",
                mname: "홍길동",
                mpassword: "Abc123",
                memail: "white@mycompany.com",
                mtel: "010-123-1234",
                mssn: "011225"
              };
              
              const response = await fetch("/validation-rest/json", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(member)
              });

              const result = await response.json();

              if(response.ok) {
                console.log(result);
              } else {
                if(response.status == 400) {
                  console.log("유효성 검사 실패");

                  for(var i=0; i<result.errors.length; i++) {
                    const field = result.errors[i].field;
                    const message = result.errors[i].defaultMessage;
                    console.log(field + ": " + message);
                  }
                } else if(response.status == 500) {
                  console.log("서버 실행 에러");
                }
              }

            } catch (error) {
              console.log("서버 연결 실패");
            }

          }
        </script>
      </div>
    </div>
  </body>
</html>
